* {
  box-sizing: border-box;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #eeeeee;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 62.5%;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

.globalContent {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

code, pre {
  font-family: Source Code Pro, Consolas, Menlo, monospace;
}

.container, .container-fluid, .container-lg, .container-wide, .container-xl {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.container, .container-lg {
  max-width: 1040px;
}

.container-wide, .container-xl {
  max-width: 1160px;
}

#stripes {
  -webkit-box-direction: normal;
  font-size: 62.5%;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transform: skewY(-12deg);
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  width: 100%;
  height: 610px;
}

.globalNav {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 10px;
  right: 0;
  z-index: 500;
  height: 50px;
  -webkit-perspective: 2000px;
  perspective: 2000px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #6772e5;
    -webkit-transition: color .1s;
    transition: color 0.1s;

    &:hover {
      color: #32325d;
    }
  }

  > .container-lg {
    padding: 0;
  }

  .navRoot {
    position: relative;
  }

  .navSection {
    &.logo {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.primary, &.secondary {
      display: none;
    }

    &.primary {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &.secondary {
      position: absolute;
      top: 0;
      right: 0;
    }

    &.mobile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }

  &.compact {
    .navRoot {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }

    .navSection {
      &.logo {
        position: static;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }

      &.secondary {
        position: static;
      }
    }
  }

  .rootLink {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    padding: 0 10px;
    border: none;
    outline: none;
    background: none;
    color: #fff;
  }

  .navSection {
    &.logo .rootLink {
      padding-left: 20px !important;
    }

    &.secondary .rootLink:last-child {
      padding-right: 20px !important;
    }

    &.primary .rootLink {
      font-weight: 500;
    }
  }

  .colorize {
    color: #6772e5;
    -webkit-transition: color .1s ease;
    transition: color 0.1s ease;

    &.active, &:hover {
      color: #32325d;
    }
  }

  .hasDropdown {
    cursor: default;
  }

  .item-home {
    h1 {
      line-height: 50px;
      font-size: 20px;
      margin: 0;
      color: inherit;
    }

    svg {
      vertical-align: -5px;

      path {
        fill: currentColor;
      }
    }
  }

  .item-dashboard:after {
    font: normal 16px StripeIcons;
    content: '\279E';
    padding-left: 1px;
  }

  .dropdownRoot {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50px;
    pointer-events: none;
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
    -webkit-transform-origin: 50% -50px;
    transform-origin: 50% -50px;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    display: none;
  }

  &.dropdownActive .dropdownRoot {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    transform: none;
  }

  .dropdownBackground {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 400px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .alternateBackground, .dropdownBackground {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: 0.25s;
  }

  .alternateBackground {
    right: 0;
    height: 1000px;
    background: #f6f9fc;
  }

  .dropdownArrow {
    top: -6px;
    margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 4px 0 0 0;
    background: #fff;
    box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04);
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    position: absolute;
    left: 0;
    -webkit-transition-duration: .25s;
    transition-duration: 0.25s;
  }

  .dropdownContainer {
    position: absolute;
    left: 0;
    -webkit-transition-duration: .25s;
    transition-duration: 0.25s;
    overflow: hidden;
    top: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    will-change: transform, width, height;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, -webkit-transform;
    transition-property: transform, width, height;
    transition-property: transform, width, height, -webkit-transform;
  }

  .dropdownSection {
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    background: red;

    &.active {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    &.left {
      -webkit-transform: translateX(-150px);
      transform: translateX(-150px);
    }

    &.right {
      -webkit-transform: translateX(150px);
      transform: translateX(150px);
    }
  }

  &.dropdownActive .dropdownSection.active {
    pointer-events: auto;
  }

  &.noDropdownTransition {
    .alternateBackground, .dropdownArrow, .dropdownBackground, .dropdownContainer, .dropdownSection {
      -webkit-transition: none;
      transition: none;
    }
  }

  .dropdownContent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    color: #343434;
  }

  .linkGroup {
    padding: 20px 35px;
  }

  .linkContainer {
    display: block;
    padding: 9px 0;
  }

  .linkTitle {
    margin: 0;
    color: #6772e5;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
  }

  .linkSub {
    font-size: 15px;
    line-height: 22px;
    color: #6b7c93;
    margin: 5px 0 0;
    display: block;
    -webkit-transition: color .1s;
    transition: color 0.1s;
  }

  .linkTitle {
    -webkit-transition: color .1s;
    transition: color 0.1s;
  }

  .linkContainer:hover .linkTitle, .linkTitle:hover {
    color: #32325d;
  }

  .linkContainer:hover .linkSub {
    color: #424770;
  }

  .hover-fillDark, .hover-fillLight {
    -webkit-transition: fill .1s;
    transition: fill 0.1s;
  }

  .hover-strokeDark, .hover-strokeLight {
    -webkit-transition: stroke .1s;
    transition: stroke 0.1s;
  }

  .linkContainer:hover {
    .hover-fillLight {
      fill: #8898aa;
    }

    .hover-fillDark {
      fill: #32325d;
    }

    .hover-strokeLight {
      stroke: #8898aa;
    }

    .hover-strokeDark {
      stroke: #32325d;
    }
  }

  .linkIcon {
    white-space: nowrap;

    svg {
      margin: 0 12px -3px -1px;
    }
  }

  .withIcon {
    padding-left: 28px;

    .linkTitle {
      margin-left: -28px;
    }
  }

  .new-badge {
    display: inline-block;
    margin-left: 5px;
    vertical-align: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    font-weight: 700;
    background: #6772e5;
    -webkit-transition: background .15s;
    transition: background .15s;
    border-radius: 10px;
    padding: 0 5px;
    height: auto;
    top: auto;
    box-shadow: none;
  }

  .linkContainer:hover .new-badge {
    background: #32325d;
  }

  .productsGroup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 640px;
    max-width: calc(100vw - 85px);
    margin: -5px -10px;

    > li {
      -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%;
    }

    .linkContainer {
      -webkit-box-flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 18px 10px;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }

    > li {
      -webkit-box-flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }

    svg {
      width: 48px;
      height: 48px;
    }
  }

  .productLinkContent {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 71px;
  }

  .prodsubGroup, .productLinkContent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .prodsubGroup {
    .linkContainer {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 13px 30px;
    }

    .linkSub {
      margin: 0 0 0 10px;
    }
  }

  .item-subscriptions .linkTitle {
    color: #24b47e;
  }

  .item-connect .linkTitle {
    color: #3297d3;
  }

  .item-relay .linkTitle {
    color: #e25950;
  }

  .item-atlas .linkTitle {
    color: #e39f48;
  }

  .item-radar {
    .linkTitle {
      color: #b76ac4;
    }

    .new-badge {
      background: #b76ac4;
    }
  }

  .documentationGroup .linkSub {
    max-width: 250px;
  }

  .documentationArticles {
    font-size: 15px;
    line-height: 26px;
    margin: 15px 20px 10px 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;

    > ul {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    h4 {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .025em;
      margin: 0 0 3px;
      color: #8898aa;
    }
  }

  .blogPosts {
    margin: 5px 10px 5px 28px;

    a {
      display: block;
      white-space: nowrap;
      padding: 5px 0;

      &:after {
        content: '\27A2';
        font: normal 16px StripeIcons;
        margin-left: 6px;
        vertical-align: -3px;
      }
    }

    .title {
      font-size: 15px;
      line-height: 22px;
      display: inline-block;
      white-space: nowrap;
      max-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: top;

      &.new {
        font-weight: 500;
      }
    }

    .new-badge {
      vertical-align: -1px;
    }

    a:hover .new-badge {
      background: #32325d;
    }
  }

  .navSection.mobile .rootLink {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;

    h2 {
      color: inherit;
      position: absolute;
      width: 24px;
      height: 3px;
      border-radius: 1px;
      background: currentColor;

      &:after, &:before {
        position: absolute;
        width: 24px;
        height: 3px;
        border-radius: 1px;
        background: currentColor;
      }

      font-size: 0;
      left: 13px;
      top: 23px;

      &:after {
        content: '';
        left: 0;
      }

      &:before {
        content: '';
        left: 0;
        top: -9px;
      }

      &:after {
        top: 9px;
      }
    }
  }

  .popup {
    position: absolute;
    left: 10px;
    top: 5px;
    right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    pointer-events: none;
    -webkit-perspective: 2000px;
    perspective: 2000px;
  }

  .popupContainer {
    background: #fff;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    line-height: 40px;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transform: rotate3d(1, 1, 0, -15deg);
    transform: rotate3d(1, 1, 0, -15deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: 0.25s;
  }

  .navSection.mobile.globalPopupActive .popupContainer {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    pointer-events: auto;
  }

  .popup a {
    display: block;
  }

  .popupCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;

    &:after, &:before {
      content: '';
      position: absolute;
      background: #6772e5;
      border-radius: 1px;
      left: 14px;
      right: 14px;
      top: 24px;
      height: 3px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: background .1s;
      transition: background 0.1s;
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:hover {
      &:after, &:before {
        background: #32325d;
      }
    }
  }

  .mobileSignIn {
    background: #f6f9fc;
    display: block;
    padding: 12px 30px;
    font-weight: 600;

    &:after {
      font: normal 16px StripeIcons;
      content: '\279C';
      margin-left: 6px;
    }
  }

  .mobileProducts {
    padding: 20px 0 15px;

    h4 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .025em;
      color: #8898aa;
      text-transform: uppercase;
      margin: -5px 0 0 30px;
    }
  }

  .mobileProductsList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    > ul {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      &:last-child {
        -webkit-box-flex: 3;
        -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
      }
    }

    a {
      padding: 0 30px;
      font-size: 20px;
      font-weight: 500;
      line-height: 50px;

      &:hover {
        color: #32325d;
      }

      svg {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 0 15px 0 -3px;
        vertical-align: -5px;
      }
    }

    .item-subscriptions {
      color: #24b47e;
    }

    .item-connect {
      color: #3297d3;
    }

    .item-relay {
      color: #e25950;
    }

    .item-atlas {
      color: #e39f48;
    }

    .item-radar {
      color: #b76ac4;
    }
  }

  .mobileSecondaryNav {
    border-top: 2px solid #f6f9fc;
    padding: 15px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    > ul {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      &:last-child {
        -webkit-box-flex: 3;
        -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
        flex-grow: 3;
      }
    }

    a {
      padding: 0 20px;
      min-width: 100px;
    }
  }
}

@media (min-width: 670px) {
  .globalNav .navSection {
    &.primary, &.secondary {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

@media (min-width: 670px) {
  .globalNav .navSection.mobile {
    display: none;
  }
}

@media (min-width: 670px) {
  .globalNav .rootLink {
    padding: 0 calc(10px + (100vw - 670px) * .040541);
  }
}

@media (min-width: 1040px) {
  .globalNav .rootLink {
    padding: 0 25px;
  }
}

@media (min-width: 670px) {
  .globalNav .dropdownRoot {
    display: block;
  }
}

.globalFooter {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f9fc;
  position: relative;

  &.withCards {
    background: transparent;
    overflow: hidden;
    padding-top: 500px;
    margin-top: -480px;
    pointer-events: none;

    > * {
      pointer-events: auto;
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 600px;
      height: 2000px;
      background: #f6f9fc;
      -webkit-transform: skew(0, -12deg);
      transform: skew(0, -12deg);
    }
  }
}

.globalFooterCards .container-xl {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px auto;
  padding: 0 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a.globalFooterCard, div.globalFooterCard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a.globalFooterCard, div.globalFooterCard {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 15px;
  z-index: 501;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 40px 40px 40px 120px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-transition-property: color, background-color, box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform, -webkit-transform;
  -webkit-transition-duration: .15s;
  transition-duration: 0.15s;
}

a.globalFooterCard:after, div.globalFooterCard:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #aab7c4;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .15s;
  transition: opacity 0.15s;
}

@media (min-width: 670px) {
  a.globalFooterCard, div.globalFooterCard {
    -webkit-flex-basis: 1%;
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    padding-left: 100px;
  }
}

@media (min-width: 880px) {
  a.globalFooterCard, div.globalFooterCard {
    padding-left: 120px;
  }
}

a.globalFooterCard:hover, div.globalFooterCard:hover {
  color: #32325d !important;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}

a.globalFooterCard:active, div.globalFooterCard:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 11px 20px rgba(50, 50, 93, 0.1), 0 6px 11px rgba(0, 0, 0, 0.08);
}

a.globalFooterCard:active:after, div.globalFooterCard:active:after {
  opacity: 0.15;
}

a.globalFooterCard {
  img, svg {
    position: absolute;
    width: 130px;
    height: 130px;
    left: -35px;
    top: calc(50% - 65px);
  }
}

div.globalFooterCard {
  img, svg {
    position: absolute;
    width: 130px;
    height: 130px;
    left: -35px;
    top: calc(50% - 65px);
  }
}

@media (min-width: 670px) {
  a.globalFooterCard {
    img, svg {
      left: -50px;
    }
  }

  div.globalFooterCard {
    img, svg {
      left: -50px;
    }
  }
}

@media (min-width: 880px) {
  a.globalFooterCard {
    img, svg {
      left: -35px;
    }
  }

  div.globalFooterCard {
    img, svg {
      left: -35px;
    }
  }
}

a.globalFooterCard svg {
  .hover-fillDark, .hover-fillLight {
    -webkit-transition: fill .15s;
    transition: fill 0.15s;
  }
}

div.globalFooterCard svg {
  .hover-fillDark, .hover-fillLight {
    -webkit-transition: fill .15s;
    transition: fill 0.15s;
  }
}

a.globalFooterCard svg {
  .hover-strokeDark, .hover-strokeLight {
    -webkit-transition: stroke .15s;
    transition: stroke 0.15s;
  }
}

div.globalFooterCard svg {
  .hover-strokeDark, .hover-strokeLight {
    -webkit-transition: stroke .15s;
    transition: stroke 0.15s;
  }
}

a.globalFooterCard:hover svg .hover-fillDark, div.globalFooterCard:hover svg .hover-fillDark {
  fill: #32325d;
}

a.globalFooterCard:hover svg .hover-fillLight, div.globalFooterCard:hover svg .hover-fillLight {
  fill: #8898aa;
}

a.globalFooterCard:hover svg .hover-strokeDark, div.globalFooterCard:hover svg .hover-strokeDark {
  stroke: #32325d;
}

a.globalFooterCard:hover svg .hover-strokeLight, div.globalFooterCard:hover svg .hover-strokeLight {
  stroke: #8898aa;
}

a.globalFooterCard h2, div.globalFooterCard h2 {
  margin: 0 0 5px;
  white-space: normal;
}

a.globalFooterCard p, div.globalFooterCard p {
  margin: 5px 0 0;
}

a.globalFooterCard.card-pricing, div.globalFooterCard.card-pricing {
  color: #24b47e;
}

a.globalFooterCard.card-documentation, div.globalFooterCard.card-documentation {
  color: #b76ac4;
}

a.globalFooterCard.card-subscriptions, div.globalFooterCard.card-subscriptions {
  color: #24b47e;
}

a.globalFooterCard.card-connect, div.globalFooterCard.card-connect {
  color: #3297d3;
}

a.globalFooterCard.card-relay, div.globalFooterCard.card-relay {
  color: #e25950;
}

a.globalFooterCard.card-atlas, div.globalFooterCard.card-atlas {
  color: #e39f48;
}

a.globalFooterCard.card-radar, div.globalFooterCard.card-radar {
  color: #b76ac4;
}

.globalFooterCTA {
  padding: 50px 0;
  border-bottom: 2px solid rgba(207, 215, 223, 0.25);

  .buttons, .content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #32325d;
    margin: 0.75em 0;
  }

  .subtitle {
    font-weight: 300;
    color: #6772e5;
    display: block;
  }
}

@media (min-width: 670px) {
  .globalFooterCTA .container-lg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 670px) {
  .globalFooterCTA .common-ButtonGroup {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.globalFooterNav {
  padding: 65px 0 55px;
  color: #8898aa;
  line-height: 30px;
  font-size: 15px;
  white-space: nowrap;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .container-lg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color .1s;
    transition: color 0.1s;

    &:hover {
      color: #32325d;
    }
  }

  .metaNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;

    > li {
      margin-right: 20px;
    }

    .select {
      position: relative;
      -webkit-perspective: 2000px;
      perspective: 2000px;
      z-index: 501;
    }

    .rootLink {
      color: #6772e5;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: #32325d;
      }

      svg {
        display: inline-block;
        vertical-align: -1px;
        margin: 0 7px 0 -2px;

        path {
          fill: currentColor;
        }
      }
    }

    .select.globalPopupActive .rootLink {
      color: #32325d;
    }

    .space {
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
      flex-grow: 2;
    }

    .copyright {
      margin-right: 0;
      color: #cfd7df;
    }
  }

  .siteNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .column {
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin-bottom: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .splitColumn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    li {
      margin-right: 40px;
    }

    .column:last-child li {
      margin-right: 0;
    }

    h4 {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .025em;
      margin: 0 0 5px;
    }

    strong {
      font-weight: 500;
    }
  }

  .popup {
    position: absolute;
    bottom: 40px;
    left: -5px;
    z-index: 1000;
    font-size: 15px;
    line-height: 26px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    -webkit-transform: rotate3d(1, 1, 0, 15deg);
    transform: rotate3d(1, 1, 0, 15deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: 0.25s;

    &:before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 30px;
      width: 20px;
      height: 20px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-radius: 20px 0 3px 0;
      background: #fff;
    }
  }

  .globalPopupActive .popup {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    pointer-events: auto;
  }

  .optionList {
    color: #525f7f;
    white-space: nowrap;

    a {
      border-radius: 4px;
      display: block;
      line-height: 36px;
      padding: 0 15px;
      -webkit-transition: color .1s, background-color .1s;
      transition: color 0.1s, background-color 0.1s;

      &:hover {
        background-color: #f6f9fc;
        color: #32325d;
      }

      &:active {
        background-color: #e6ebf1;
      }
    }

    .selected {
      font-weight: 600;
      color: #32325d;

      > span:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: -2px;
        margin: 0 6px 0 -2px;
        background: url(/img/v3/common/footer/select/checkmark.svg);
      }
    }
  }

  .badge {
    font-size: 10px;
    line-height: 10px;
    color: #aab7c4;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-style: normal;
    padding: 2px 3px 1px;
    border-radius: 4px;
    border: 1px solid #e6ebf1;
    display: inline-block;
    vertical-align: 1px;
    margin-left: 8px;
  }

  .languagePicker {
    padding: 10px 5px;
  }

  .countryPicker {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    &:before {
      background: #f6f9fc;
    }
  }

  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #f6f9fc;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    .optionList a {
      &:hover {
        background-color: rgba(230, 235, 241, 0.5);
      }

      &:active {
        background-color: rgba(207, 215, 223, 0.5);
      }
    }
  }

  .countryList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: calc(100vw - 40px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    h4 {
      margin: 0 0 5px;

      a {
        line-height: 36px;
        padding: 0 15px;
        text-transform: uppercase;
        color: #6772e5;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.025em;

        &:hover {
          color: #32325d;
        }

        &:after {
          font: normal 16px StripeIcons;
          content: '\2192';
          margin-left: 6px;
        }
      }
    }
  }

  .globalLink {
    border-top: 2px solid #fff;
    padding: 30px 40px;

    &:hover {
      color: #424770;

      strong {
        color: #32325d;
      }
    }

    strong {
      display: block;
      color: #6772e5;
      font-weight: 500;
      -webkit-transition: color .1s;
      transition: color 0.1s;

      &:after {
        font: normal 16px StripeIcons;
        content: '\2192';
        margin-left: 6px;
      }
    }
  }
}

@media (min-width: 880px) {
  .globalFooterNav .container-lg {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (min-width: 880px) {
  .globalFooterNav .metaNav {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 20px;
  }
}

@media (min-width: 880px) {
  .globalFooterNav .metaNav .country {
    margin-bottom: 5px;
  }
}

@media (min-width: 670px) {
  .globalFooterNav .siteNav {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (min-width: 880px) {
  .globalFooterNav .siteNav {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

@media (min-width: 670px) {
  .globalFooterNav .siteNav .column {
    -webkit-flex-basis: auto !important;
    -ms-flex-preferred-size: auto !important;
    flex-basis: auto !important;
    margin-right: 40px;
  }
}

@media (min-width: 880px) {
  .globalFooterNav .siteNav .column {
    margin-right: 30px;
  }
}

@media (min-width: 1040px) {
  .globalFooterNav .siteNav .column {
    margin-right: 40px;
  }
}

@media (min-width: 1160px) {
  .globalFooterNav .popup {
    left: -65px;
  }
}

@media (min-width: 1160px) {
  .globalFooterNav .popup:before {
    left: 60px;
  }
}

@media (min-width: 670px) {
  .globalFooterNav .countryPicker {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    &:before {
      background: #fff;
    }
  }
}

@media (min-width: 670px) {
  .globalFooterNav .sidebar {
    border-radius: 0 5px 5px 0;
  }
}