* {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  overflow-x: hidden;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

.globalContent {
  flex-grow: 1;
}

code,
pre {
  font-family: Source Code Pro, Consolas, Menlo, monospace;
}

.container,
.container-fluid,
.container-lg,
.container-wide,
.container-xl {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.container,
.container-lg {
  max-width: 1040px;
}

.container-wide,
.container-xl {
  max-width: 1160px;
}

#stripes {
  -webkit-box-direction: normal;
  font-size: 62.5%;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transform: skewY(-12deg);
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  width: 100%;
  height: 610px;
}

.globalNav {
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 10px;
  right: 0;
  z-index: 500;
  height: 50px;
  -webkit-perspective: 2000px;
  perspective: 2000px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #6772e5;
    transition: color 0.1s;

    &:hover {
      color: #32325d;
    }
  }

  > .container-lg {
    padding: 0;
  }

  .navRoot {
    position: relative;
  }

  .navSection {
    &.logo {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.primary,
    &.secondary {
      display: none;
    }

    &.primary {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &.secondary {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .rootLink {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    user-select: none;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    padding: 0 25px;
  }

  .navSection {
    &.logo .rootLink {
      padding-left: 20px !important;
    }

    &.secondary .rootLink:last-child {
      padding-right: 20px !important;
    }

    &.primary .rootLink {
      font-weight: 500;
    }
  }

  .hasDropdown {
    cursor: default;
  }

  .item-home {
    h1 {
      line-height: 50px;
      font-size: 20px;
      margin: 0;
      color: inherit;
    }

    svg {
      vertical-align: -5px;

      path {
        fill: currentColor;
      }
    }
  }

  .dropdownRoot {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50px;
    pointer-events: none;
    transform: rotateX(-15deg);
    transform-origin: 50% -50px;
    opacity: 0;
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: 0.25s;
    display: block;
  }

  &.dropdownActive .dropdownRoot {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: none;
    transform: none;
  }

  .dropdownBackground {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
      0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 400px;
    transform: translateX(0);
    transform-origin: 0 0;
  }

  .dropdownBackground {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    transition-property: transform;
    transition-duration: 0.25s;
  }

  .dropdownArrow {
    top: -6px;
    margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-radius: 4px 0 0 0;
    background: #fff;
    box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04);
    will-change: transform;
    transition-property: transform;
    position: absolute;
    left: 0;
    transition-duration: 0.25s;
  }

  .dropdownContainer {
    position: absolute;
    left: 0;
    transition-duration: 0.25s;
    overflow: hidden;
    top: 0;
    transform: translateX(0);
    will-change: transform, width, height;
    transition-property: transform, width, height;
  }

  .dropdownSection {
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: 0.25s;
    background: red;

    &.active {
      opacity: 1;
      transform: translateX(0);
    }

    &.left {
      transform: translateX(-150px);
    }

    &.right {
      transform: translateX(150px);
    }
  }

  &.dropdownActive .dropdownSection.active {
    pointer-events: auto;
  }

  &.noDropdownTransition {
    .alternateBackground,
    .dropdownArrow,
    .dropdownBackground,
    .dropdownContainer,
    .dropdownSection {
      transition: none;
    }
  }

  .dropdownContent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    color: #343434;
  }
}

.globalNav .navSection {
  &.primary,
  &.secondary {
    display: flex;
  }
}
